body{
    background-color: lightblue;
}
.calculator{
    margin: auto;
    background-color: white;
    height: 720px;
    width: 480px;
    border-radius: 25px;
}
.container{
    border: solid 2px black;
    border-radius: 25px;
}
.history{
    height: 50px;
}
.output{
    height: 80px;
}
button{
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 10px;
    font-family: cursive;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}
button::selection{
    border: none;
}